.container {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 15%;
    background-color: pink;
    border-radius: 15px;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}